/* You can add global styles to this file, and also import other style files */

table {

  tr.deleted td {
    background: rgba(255, 0, 0, 0.46);
  }



  th,td {
    border: 1px solid #000;

    &.yes {
      background: green;
      font-weight: bold;
    }
  }
}
